# Database
DATABASE_URL=postgresql://pokemon:pokemon@localhost:5432/pokemontcg

# APIs
POKEMON_TCG_API_KEY=
POKEMON_TCG_BASE_URL=https://api.pokemontcg.io/v2

TCGDEX_BASE_URL=https://api.tcgdex.net/v2
TCGDEX_DEFAULT_LANG=en

TCGCSV_BASE_URL=https://tcgcsv.com/tcgplayer
POKEMON_CATEGORY_ID=3

# Server
PORT=3000
NODE_ENV=development

# Logging
LOG_LEVEL=debug
